@import url('https://fonts.googleapis.com/css2?family=Carme:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
    font-family: "KoPubBatang";
    src: url("../fonts/KoPubBatang-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "KoPubBatang";
    src: url("../fonts/KoPubBatang-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

