/* ============= Basic =============*/

.products {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    padding: 60px 0;
}
.products__container {
    margin: 0 auto;
    max-width: 1350px;
    padding: 0 15px;
}
.products__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
}
.products__header h2 {
    color: #00B207;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.products__header p {
    color: #1A1A1A;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
}

/* ============= Product line =============*/

.products__line {
    display: grid;
    grid-template-columns: repeat(auto-fill, 248px);
    row-gap: 20px;
    justify-content: space-between;
    margin-bottom: 24px;
}
.advertise {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    min-height: 335px;
}

.advertise__image {
    position: absolute;
    bottom: 0;
    left: 0;
    aspect-ratio: 248/335;
    object-fit: cover;
    z-index: -1;
}
.advertise__title {
    color: #1A1A1A;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    margin-bottom: 8px;
    flex-wrap: wrap;
}
.advertise__offer {
    color: #00B207;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
}
.advertise__link {
    background-color: #FFF;
    border-radius: 43px;
    padding: 14px 32px;
    color: #00B207;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    transition: color .3s ease,
                background-color .3s ease;
}
.advertise__link::after {
    content: "";
    vertical-align: middle;
    width: 15px;
    height: 12px;
    background: url(../img/arrow.svg) no-repeat center / 15px 12px;
    margin-left: 12px;
    transition: background-image .3s ease;
}
.product {
    border: 1px solid #E6E6E6;
    will-change: box-shadow, border-color;
    transition: box-shadow .3s ease,
                border-color .3s ease;
}
.product__image {
    padding: 5px;
    aspect-ratio: 254 / 230;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}
.product__image img{
    object-fit: cover;
}
.product__actions {
    position: absolute;
    right: 11px;
    top: 11px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.product__action {
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: background-color;
    transition: background-color .3s;
}
.product__action:focus-visible {
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    outline: 1px solid #2C742F;
}
.product__action svg {
    will-change: stroke;
    transition: stroke .3s;
}
.product__action--like:active svg {
    stroke: #00B207;
    fill: #00B207;
}
.product__action img {
    max-width: 20px;
}
.product__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    position: relative;
}
.product__title {
    color: #4D4D4D;
}
.product__pricing {
    display: flex;
    gap: 2px;
    font-size: 16px;
}
.product__new-price {
    font-weight: 500;
    color: #1A1A1A;
}
.product__old-price {
    font-weight: 400;
    color: #999;
    text-decoration: line-through;
}
.product__ranking img {
    margin-right: 2px;
}
.product__add-to-basket {
    position: absolute;
    top: 23px;
    right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__add-to-basket img {
    max-width: 20px;
}

.product:hover .product__add-to-basket {
    background-color:  #00B207; 
}
.product:hover .product__add-to-basket > img {
    filter: brightness(0) invert(1);
}
.product__add-to-basket:focus-visible, .advertise__link:focus-visible {
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    outline: 1px solid #2C742F;
}
@media (any-hover: hover), (pointer: fine) {
    .advertise__link:hover {
        background-color: #00B207;
        color: #FFF;
    }
    .advertise__link:hover::after {
        background-image: url(../img/arrow_white.svg);
    }
    
    .product:hover {
        box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
        border-color: #2C742F;
    }
    .product__action:hover {
        background-color: #00B207;
    }
    .product__action:hover svg {
        stroke: #FFF;
    }
    .product__add-to-basket:hover {
        background-color:  #2C742F;
    }
}

@media (max-width: 1269.98px) {
    .products__line {
        justify-content: space-evenly;
    }
}

@media (max-width: 1021.98px) {
    .products__line {
        grid-template-columns: repeat(auto-fill, 290px);
    }
    .product__action {
        width: 50px;
        height: 50px;
    }
    .product__action svg {
       transform: scale(1.2);
    }
    .product__details {
        font-size: 20px;
    }
    .product__pricing {
        font-size: 20px;
    }
    .product__add-to-basket {
        width: 50px;
        height: 50px;
    }
    .product__add-to-basket img {
        transform: scale(1.2);
    }
    .product__ranking img {
        transform: scale(1.5);
        margin-right: 5px;
    }
}

@media (max-width: 640px) {
    .products__header h2 {
        font-size: 20px;
    }
    .products__header p {
        font-size: 25px;
    }
}

/* ============= Products offers =============*/

.offers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 312px));
    column-gap: 24px;
    row-gap: 16px;
    color: #1A1A1A;
    line-height: 1.5;
}
.offers__title {
    font-size: 18px;
    font-weight: 500;
}
.offer {
    display: flex;
    border: 1px solid #E6E6E6;
}
.offer__image {
    padding: 5px;
    aspect-ratio: 102/102;
    flex: 0 0 116px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer__image img {
    object-fit: cover;
    max-width: 100%;
    display: block;
}
.offer__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 24px 12px;
    
}
.offer__title {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 400;
    
}
.offer__pricing {
    font-size: 16px;
    font-weight: 500;
}
.offer__new-price {
}
.offer__old-price {
}
.offer_randking {
}

.offers__advertise {
}
.advertise-offer {
    grid-column: 4/5;
    grid-row: 1/5;
   position: relative;
   overflow: hidden;
}
.advertise-offer__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;              /* потрібно */
    height: 100%;             /* потрібно */
    object-fit: cover;        /* тепер працює */
    z-index: -1;
    display: block;
}
.advertise-offer__title {
}
.advertise-offer__score {
}
.advertise-offer__link {
}