@import url(reset.css);
@import url(fonts.css);
@import url(delights.css);
@import url(products.css);

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
}
.page {
}


