/* Fonts */

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
    color: #424551;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 45px;
}
.header {
    font-size: 48px;
    font-weight: 900;
    line-height: 59.8px;
    color: #1E212C;
    margin-bottom: 92px;
}

.img {
    margin-bottom: 50px;
}
.sub-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #1E212C;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 24px;
}
.quotation {
    padding-inline-start: 58px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 48px;
}
.quotation + p {
    margin-bottom: 24px;
}

.content {
    margin-bottom: 48px;
}
.list {
    margin-bottom: 24px;
}
.list li {
    padding-inline-start: 32px;
}