@import url(reset.css);
@import url(fonts.css);

.wrapper{
    min-height: 100%;
    overflow: clip;
}

.about-section {
    background: url(../img/shape.svg) no-repeat center / 1920px;
    padding: 125px 0;
}
[class*='__container'] {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1480px;
}

.about-section__row {
    position: relative;
    padding: 0 125px 55px 125px;
}
.about-section__row--second {
    padding: 0 0 0 375px;
}

.about-section__circle {
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    border: 5px solid #FFBA49;
}
.about-section__circle--small {
    width: 65px;
    height: 65px;
    left: -3px;
    top: 127px;
}
.about-section__circle--small-botton {
    width: 65px;
    height: 65px;
    right: 400px;
    top: -48px;
    z-index: 2;
}
.about-section__circle--middle {
    width: 262px;
    height: 262px;
    top: -26px;
    right: -3px;
} 
.about-section__circle--big {
    width: 401px;
    height: 401px;
    top: 170px;
    left: 17px
}
.about-section__dots-vertical{
    width: 214px;
    height: 472px;
    position: absolute;
    top: 375px;
    left: 30px;
}
.about-section__dots-horizontal {
    width: 472px;
    height: 214px;
    position: absolute;
    top: 190px;
    right: -57px;
}

.about-section__pic-box {
    overflow: hidden;
    width: 420px;
    height: 548px;
    border-radius: 20px;
    box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
    position: relative;
    display: inline-block;
}
.about-section__pic-box--shift{
    margin-top: -40px;
    margin-right: 70px;
}

.about-section__image {
    position: absolute;
    object-fit: cover;/* знаю, ще не вчили, але воно тут проситься */
    height: 100%;
}
.content-about {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 52px;
}
.content-about--second{
    vertical-align: top;
    margin: 30px 70px 0 0;
}
.content-about__title {
    max-width: 602px;
    font-family: "circular-std", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    margin-bottom: 13px;
}
.content-about__title--second {
    max-width: 480px;
}
.content-about__text {
    max-width: 480px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    color: #fff;
    margin-bottom: 39px;
}
.main-btn {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    padding: 22px 26px;
    border-radius: 60px;
    background-color: #F35B09;
}
.main-btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.product-section {
    padding: 30px 0;
}
.product-section__container {
    text-align: center;
}

.tile {
    max-width: 312px;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
}
.tile:hover {
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}
.tile:hover .tile__title {
    color: #2C742F;
}
.tile__image {
    position: relative;
    padding: 5px;
    
}
.tile__image img {
    vertical-align: top;
}
.tile__like {
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    right: 15px;
    top: 15px;
    background-color: #fff;
}
.tile__zoom {
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    right: 15px;
    top: 61px;
    background-color: #fff;
}
.tile__content {
    font-family: "Poppins", sans-serif;
    padding: 16px;
    line-height: 1.5;
    position: relative;
    text-align: left;
}
.tile__title {
    color: #4D4D4D;
    font-weight: 400;
    font-size: 14px;
}
.tile__price {
    font-weight: 500;
    font-size: 16px;
}
.tile__basket {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    background:  #F2F2F2 url(../img/bag.svg) no-repeat center / 20px;
    border-radius: 50%;
}

.tile__basket:hover {
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    background:  #00B207 url(../img/bag_white.svg) no-repeat center / 20px;
}