@import url(reset.css);
@import url(fonts.css);

.wrapper {
    overflow: clip;
    min-height: 100%;
}
.page {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #1A1A1A;
}
.form {
    padding: 32px 15px 80px 15px;
}
[class*="__container"] {
    max-width: 1320px;
    margin: 0 auto;
}
.form__container {
    display: flex;
    gap: 24px;
}
.form__billing {
    flex: 0 1 872px;
    display: flex;
    flex-direction: column;
}
.form__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 32px;
}
.form__wrapper--shipping {
    display: none;
}
.form__header {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.form__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}
.form__line {
    margin-bottom: 16px;
}
.line {
    flex: 1 1 280px;
    flex-wrap: wrap;
}

.line__label {
}
.line__input {
    padding: 16px;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    transition: border .3s,
                box-shadow .3s,
                outline .3s;
}
.line__input:focus-visible {
    border: 1px solid #2C742F;
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    outline: 1px solid #2C742F;
}
.line__input::placeholder {
    font-size: 16px;
    line-height: 1.3;
    color: #999;
    transition: opacity 0.5s;
}
.line__input:focus-visible::placeholder {
    opacity: 0;
}
.line-select {
    flex: 1 1 280px;
}
.line-select__label {
    display: flex;
    flex-direction: column;
}
.line-select__select{
    width: 100%;
    padding: 16px 16px 16px 16px;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.3;
    color: #999;
}
.line-select__select:focus-visible {
    border: 1px solid #2C742F;
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    outline: 1px solid #2C742F;
}
.line-select__select {
    appearance: none;
    cursor: pointer;
    background: url(../img/arrow.svg) right 16px center no-repeat;
}
.form__label {
    display: flex;
	gap: 6px;
	align-items: center;
	cursor: pointer;
    align-items: center;
    margin-top: 20px;
}
.form__check {
    width: 20px;
    appearance: none;
    cursor: pointer;
    display: flex;
    transition: all 0.3s;

}
.form__check::before{
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}
.form__check:checked:before{
    background: #00B207 url(../img/check.svg) center / 16px;
}
.form__check:focus-visible {
    border: 1px solid #2C742F;
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    outline: 1px solid #2C742F;
    border-radius: 3px;
}
.form__check:checked .form__wrapper--shipping{
    display: block;
}
.line__input--textarea {
    height: 100px;
    resize: vertical;
}
.form__summary {
    flex: 0 1 424px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 24px;
}
.form__wrapper--summary {
    border: none;
}
.form__header--summary {
    font-size: 20px;
}

.form-image {
    width: 60px;
    height: 60px;
    background-color: #00B207;
    position: relative;
}
.form-image img {
    position: absolute;
    object-fit: cover;

}
.form__description {
}
.form__value {
}
.form__row--option {
}
.form__option {
}
.form__submit {
}

