@import url(reset.css);
@import url(fonts.css);


.wrapper {
    overflow: clip;
    min-height: 100%;
}

[class*="container"]{
    margin: 0 auto;
}

.eco-section {
    padding-left: 15px;
    padding-right: 15px;
}

.eco-container {
    max-width: 648px;
    padding-top: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}
.text {
    margin-bottom: 20px;
}

.list {
    margin-bottom: 20px;
}

.list-item {
    line-height: 1.4;
    margin-bottom: 14px;
}
.list-item p{
    display: inline;
    vertical-align: top;
    margin-left: 8px;
}

.check {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00B207 url("../img/check.svg") center / 12.5px no-repeat;
}

.hydra-section {
    background-color: #302C42; 
    background-image: url("../img/top-curve.svg"), url("../img/bottom-curve.svg");
    background-position: 0 539px, 0 824px; 
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Montserrat", sans-serif;
    color: #FFF;
    padding-left: 15px;
    padding-right: 15px;
}
.hydra-container{
    max-width: 1272px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.big-button {
    background: radial-gradient(50.13% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    border-radius: 90px;
    margin-bottom: 90px;
    font-size: 0px;
    text-align: center;
    padding: 26px 0 24px 0;
}

.tyle {
    display: inline-block;
    padding: 22px 45px 29.5px 45px;
    font-size: 0px;
    max-height: 116.5px;
}

.middle-tyle {
    border-right: 1px solid #C0B7E854;
    border-left: 1px solid #C0B7E854;
}

.local {
    margin: 0 12px 0 0;
}

.call {
    margin: 0 24px 0 0;
}

.mail {
    margin: 0 24px 0 0;
}

.info {
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
}

.tyle-header {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

.tyle-text {
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.introduction {
    line-height: 1.53;
    margin-bottom: 104px;
}
.introduction-container {
    display: inline-block;
    font-size: 0px;
    padding: 0;
    vertical-align: middle;
}
.right {
    float: right;
    /* знаю, це артефакт яким не варто користуватися, але він тут вирішив завдання :-) */
}
.introduction-header {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}
.introduction-subheader {
    font-size: 36px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    min-width: 485px;
}
.arrow {
    max-width: 200px;
    margin-left: 30px;
}
.introduction-content {
    max-width: 652px;
    font-weight: 400;
    font-size: 16px;
}

.hero {
    max-width: 524px;
    border-radius: 240px 100px 240px 100px;
    margin-right: 113px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about-content {
    display: inline-block;
    max-width: 630px;
    vertical-align: middle;
    line-height: 1.53;
}

.about-header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 42px;
    text-transform: capitalize;
}

.about-header span{
    font-weight: 300;
}

.about-text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 28px;
}

.button {
    border-radius: 40px;
    padding: 16px 43px;
    display: inline-block;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    text-transform: capitalize;
    color: #343045;
    font-weight: 700;
    font-size: 12px;
}
